# Configuration file

general {
    B:"Allow Lava In Fluidic Nether Portal"=true
    I:"Amount of slickwater produced per operation (mb)"=1000
    B:"Enable Centrifuge Module"=true
    B:"Enable Colour Blind Mode"=false
    B:"Enable Fluidic Nether Portal"=true
    B:"Enable Grinder Module"=true
    B:"Enable Husher"=true
    B:"Enable Hydroelectric Turbines"=true
    B:"Enable Kiln Module"=true
    B:"Enable Multi Smelter Module"=true
    B:"Enable Piezo Electric Tiles"=true
    B:"Enable Solar Panel Modules"=true
    B:"Enable Water Intake"=true
    B:"Hand boiler smelts sand"=false
    I:"RF per EU"=4
    I:"RF per MJ"=10
}


